.clip {
  clip-path: polygon(
    100% 0%,
    70% 0%,
    28% 0%,
    0% 0%,
    0% 25%,
    0% 44%,
    0% 76%,
    25% 90%,
    41% 86%,
    59% 96%,
    81% 85%,
    100% 78%,
    100% 45%,
    100% 25%
  );
}

.spacer {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 {
  background-image: url("/head.svg");
}

.layer2 {
  aspect-ratio: 960/600;
  background-image: url("./reviewpeak.svg");
}
