#title {
  font-family: "Bangers", cursive;
  letter-spacing: 5px;
}

@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Bricolage+Grotesque&family=Inter&family=Mina&family=Noto+Sans+Osmanya&family=Roboto:ital,wght@0,400;1,100&family=Work+Sans:wght@500&display=swap");
#body-text {
  font-family: "Mina";
}
